<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <title>{% block title%}{% endblock %}</title>
</head>
<body>

    <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="p-3 mb-2 bg-success text-white">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
    
        {% block content %}
            
        {% endblock %}
        
    </div>
</body>
</html>